.navbar {
    background-color: var(--blue-bg);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-cont {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#navbar-toggle {
    background-color: transparent;
    border: none;
    color: var(--white-txt);
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    margin-left: 0.33rem;
    margin-right: 1rem;
}

.navbar-logo {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    margin-right: 4rem;
    padding: 0.85rem 0 0.85rem 1rem;
}

.navbar-logo img {
    height: 30px;
    vertical-align: middle;
    border-style: none;
}

#navbar-links {
    width: 100%;
    position: absolute;
    left: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    transition: opacity 0.2s ease-out, transform 0.2s ease-in-out;
    transform: translateX(-40px);
    opacity: 0;
    z-index: 1;
    background: var(--white-bg);
    top: 60px;
}

#navbar-links.activo {
    opacity: 1;
    transform: translateX(0);
    z-index: 100;
}

.nav-link-cont {
    width: 100%;
    border-bottom: 1px solid var(--grey-bg);
    border-top: 1px solid var(--grey-bg);
}

.nav-link-cont a {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    color: var(--black-txt);
    padding: 1rem;
}

.nav-link-cont i {
    margin-right: 0.3rem;
}

.navbar-links > .sign-up-sec > .country {
    display: none;
}

.navbar-separador {
    height: 1rem;
    background-color: var(--grey-bg-nav);
    border-top: 1px solid var(--grey-bord-nav);
    border-bottom: 1px solid var(--grey-bord-nav);
}