/* ---------------NAVBAR SEC--------------- */

.navbar {
    background-color: var(--blue-bg);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-cont {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#navbar-toggle {
    background-color: transparent;
    border: none;
    color: var(--white-txt);
    font-size: 1.25rem;
    line-height: 1;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    margin-left: 0.33rem;
    margin-right: 1rem;
}

.navbar-logo {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    margin-right: 4rem;
    padding: 0.85rem 0 0.85rem 1rem;
}

.navbar-logo img {
    height: 30px;
    vertical-align: middle;
    border-style: none;
}

#navbar-links {
    width: 100%;
    position: absolute;
    left: 0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    z-index: 1;
    background: var(--white-bg);
    top: 60px;
}

#navbar-links.activo {
    opacity: 1;
    transform: translateX(0);
    z-index: 100;
}

.navbar-link-cont {
    width: 100%;
    border-bottom: 1px solid var(--grey-bg);
    border-top: 1px solid var(--grey-bg);
}

.navbar-link-cont.inicio {
    display: block;
}

.navbar-link-cont a {
    display: block;
    font-size: 1rem;
    font-weight: 900;
    color: var(--black-txt);
    margin: 1rem;
}

.navbar-link-cont i {
    margin-right: 0.3rem;
}

.navbar-links > .sign-up-sec > .country {
    display: none;
}

.navbar-separador {
    height: 1rem;
    background-color: var(--grey-bg-nav);
    border-top: 1px solid var(--grey-bord-nav);
    border-bottom: 1px solid var(--grey-bord-nav);
}

/* ---------------HEADY SEC--------------- */

.heady-sec {
    background: var(--blue-bg) url(https://cdn.easybroker.com/assets/product/homepage/hero-bg-f9fd0149bf423f65228d95074134c0818deea6c391f2f8434d6661933ae32156.svg) no-repeat center;
    background-size: cover;
    position: relative;
    color: var(--white-txt);
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heady-sec-cont {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 6rem;
    align-items: center;
    width: 100%;
}

.heady-sec-txt {
    padding-top: 4rem;
    margin-bottom: 0.66rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.heady-sec-txt h1 {
    font-weight: bolder;
}

.heady-sec-txt p {
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.9px;
}

.heady-sec-btn-cont {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.heady-sec-btn {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.orange-btn {
    background: linear-gradient(135deg, #fdbe45, #ff9149);
    color: var(--white-txt); 
    font-weight: bold;
    border: 0;
    text-align: center;
    max-width: 272px;
}

.heady-sec-btn-cont2 {
    display: none;
}

.heady-sec-video-cont {
    display: none;
}

@media screen and (min-width:700px) {
    
    .heady-sec-cont {
        flex-direction: column;
    }

    .heady-sec-video-cont {
        display: block;
        position: relative;
    }

    .heady-video-btn {
        position: absolute;
        top: 45%;
        left: 41%;
        background-color: var(--blue-bg);
        border-color: var(--blue-bg);
        color: var(--white-txt);
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
    }

    .heady-sec-video-cont img {
        max-width: 100%;
    }

    .heady-sec-btn-cont2 .heady-sec-btn {
        display: block;
        margin: 0 auto;
        line-height: normal;
    }
    .heady-sec-btn-cont2 {
        display: block;
        margin-top: 3rem;
    }
    
    .heady-sec-btn-cont {
        display: none;
    }
}

@media screen and (min-width:900px) {
 /* ---------------NAVBAR SEC--------------- */
    
    .navbar-logo {
        margin-right: 1rem;
    }   

    #navbar-toggle {
        display: none;
    }
    
    .navbar-cont {
        flex-direction: row;
    }

    .navbar-cont i {
        display: none;
    }

    .country a i {
        display: inline-block;
        margin: auto;
    }

    #navbar-links {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;  
        align-items: center;
        position: relative;
        box-shadow: none;
        opacity: 1;
        transform: translateY(0);
        top: 0;
        background: transparent;
    }

    .navbar-links-cont {
        width: 100%;
    }

    .navbar-link-cont {
        border: none;
        width: auto;
    }

    .navbar-link-cont a {
        color: var(--white-txt);
    }

    .navbar-separador, 
    .help-sec-cont,
    .who-sec-cont,
    .social-sec-cont,
    .navbar-link-cont.inicio {
        display: none;
    }
    
    .sign-up-sec {
        display: flex;
        flex-direction: row-reverse;
        margin-left: auto;
    }

    .sign-up-sec .sign-up a {
        border: 1px solid #fff;
        border-radius: .25rem;
        margin: .63rem;
        padding: .37rem .75rem;
    }

    .main-sec-cont {
        display: flex;
    }

    .main-sec .navbar-link-cont a {
        width: auto;
    }
    
  /* ---------------COUNTRY MENU SEC--------------- */
   
    .navbar-links > .sign-up-sec > .country {
        display: none;
        position: relative;
    }

    .country .country-list-cont {
        position: absolute;
    }

 /* ---------------HEADY SEC--------------- */
 
    .heady-sec-flex-item {
        max-width: 50%;
    }
 
    .heady-sec-cont {
        flex-direction: row;
        align-items: unset;
        max-width: 1200px;
        margin: 0 auto;
    }

    .heady-sec-btn-cont2 {
        display: none;
    }

    .heady-sec-btn-cont {
        padding-left: 2rem;
        display: block;
    }

    .heady-sec-btn {
        display: block;
    }

    .heady-sec-txt {
        padding: 0.33rem 2rem 0;
        text-align: left;
    }

    .heady-sec-txt h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .heady-sec-video-cont {
        padding-left: 15px;
        padding-right: 15px;
    }

    .heady-video-btn {
        left: 36%;
    }
}

@media screen and (min-width:1240px) {
    .heady-sec-cont {
        align-items: center;
    }

    .heady-sec-txt h1 {
        font-size: 3rem;
        font-weight: bolder;
    }
}